@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* basic */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #a8baea, #b5a9ec); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    color: #2c313e;
}

section {
    margin-bottom: 40px;
}
/* Nav */
.navbar {
    background-color: #82508b; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    padding: 10px 20px;
}

.navbar a {
    text-decoration: none;
    color: #dfd3e2;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #cd8df4;
}
/* dark and light theme */
#theme-switcher {
    background: none;
    border: none;
    color: #dfd3e2;
    cursor: pointer;
    transition: color 0.3s ease;
}

#theme-switcher:hover {
    color: #cd8df4;
}

.hover-style {
    color: #cd8df4; 
}

.dark-theme {
    background: linear-gradient(to top, #2c313e, #46415d);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #c9afd0;
}
.dark-theme #demo1, 
.dark-theme #demo2, 
.dark-theme #details,
.dark-theme #backend,
.dark-theme .form-container, 
.dark-theme #compairison  {
    background-color: #57587a
}
.dark-theme .navbar {
    background-color: #513256;
}
.dark-theme a,
.dark-theme #demo2 p,
.dark-theme #demo1 #dynamic-text,
.dark-theme #feedback,
.dark-theme #mistakeCounter {
    color: #c9afd0;
}

.dark-theme #demo1 button,
.dark-theme #demo2 button {
    background-color: #3b3a3a;
    color: #cdcbcb;
}
 
.dark-theme #details button {
    background-color: #3b3a3a;
    color: #cdcbcb;
}
/* basics */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    padding-left: 3px;
    padding-bottom: 0;
}

h3 {
    padding-left: 6px;
    padding-bottom: 0;
}

p{
    padding-left: 3px;
    padding-right: 3px;
    font-size: 18px;
    line-height: 1.3;
    color: #2c313e;
}

#demo1 #dynamic-text {
    color: #2c313e;
}

ul {
    font-size: 16px;
}
/* sections */
#title {
    padding-left: 4px;
}

#details {
    background-color: #a297d6;
    padding: 6px;
    border-radius: 8px;
}

#demogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#demo1, #demo2{
    width: 50%;
    box-sizing: border-box;
}
#demo1 {
    background-color: #9799d6;
    padding: 6px;
    border-radius: 8px;
}

#demo button {
    background-color: #6d55d8;
    color: #eaebf9;
    padding: 10px; 
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#demo button:hover {
    background-color: #9065cf;
    transform: scale(1.05);
}

#dynamic-text {
    font-family: 'Roboto', sans-serif;
    color: #eaebf9;
}

#demo2 {
    background-color: #9799d6;
    padding: 6px;
    border-radius: 8px;
}

#backend {
    background-color: #9799d6;
    padding: 6px;
    border-radius: 8px;
}

#compairison {
    background-color: #9799d6;
    padding: 6px;
    border-radius: 8px;
}

/* Form */

.form-container {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7; 
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dark-theme .form-group input {
    background-color: #2c313e;
    color: #dfd3e2;
}

.dark-theme .submit-button {
    background-color:#6d55d8
}

input.valid {
    border: 2px solid green;
}

input.invalid {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

/* Gallery */

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnails {
    display: flex;
    overflow-x: auto; 
    padding: 10px;
    margin-bottom: 20px;
}

.thumbnails img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    margin-right: 10px; 
    cursor: pointer;
}

.display {
    width: 300px; 
    height: 300px; 
    border: 1px solid #ccc;
}

.display .big-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.zoomed {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}

.caption {
    color:#2c313e;
}
/* Hangman */
#mistakeCounter {
    margin-top: 10px;
}